@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-Regular.woff2") format("woff2"), url("../assets/fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-Medium.woff2") format("woff2"), url("../assets/fonts/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-Bold.woff2") format("woff2"), url("../assets/fonts/NunitoSans-Medium.woff2") format("woff");
  font-weight: 700;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "NunitoSans", sans-serif;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.header__logo {
  margin-top: 2rem;
  width: 7rem;
  align-self: center;
}
.header__link {
  font-weight: 500;
  color: #fff;
}
.header__nav {
  width: 100%;
}

.header__item {
  list-style-type: none;
}

.header__link1 {
  text-decoration: none;
  border-bottom: solid 2px #fff;
  color: #fff;
}

.header__link2 {
  text-decoration: none;
  color: #afafaf;
}

.header__list {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
}

.hero {
  background-image: url("/assets/Images/hero-bio.jpg");
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 40vh;
}

.hero__title {
  color: #fff;
  font-size: 32px;
  padding: 1rem;
}

.card {
  padding: 1rem;
}

.card__image {
  display: flex;
  justify-content: center;
  height: 50vh;
}

.card__description {
  padding: 1rem;
}

.main {
  font-weight: 400;
  font-size: 24px;
  padding: 1rem;
}

.main__text {
  font-size: 20px;
  margin-bottom: 3rem;
  display: flex;
  gap: 3rem;
}
@media screen and (min-width: 768px) {
  .main__text {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .main__text {
    padding: 3rem;
  }
}

.gallery {
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-evenly;
  flex-wrap: wrap;
}
.gallery__item {
  text-align: center;
  background-color: inherit;
  margin: 20px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    margin: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__item {
    margin: 1.25vw 0;
  }
}

.footer {
  background-color: #323232;
  color: #fff;
  padding: 1rem;
}
.footer__body {
  padding-bottom: 1rem;
}
.footer__content {
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
  }
}
.footer__icon {
  width: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 320px) {
  .footer__logo {
    position: absolute;
    top: 43rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: inherit;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

@media screen and (min-width: 768px) {
  .footer__section {
    display: flex;
    justify-content: space-between;
  }
}

.footer__rights {
  margin-top: 6rem;
}/*# sourceMappingURL=bio.css.map */